
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    margin-bottom: 50px;
}

.innerBox {
    width: fit-content;
    height: 100%;
}

.txtArea {
    width: 50vw;
    height: 60vh;
    resize: none;
    border-radius: 20px;
    border: 1px solid rgb(85, 85, 85);
    padding: 20px;
    margin-bottom: 100px;
    font-size: 1.4rem;
    font-family: 'Roboto Slab', serif;
}

.txtArea:focus {
    outline: none;
}

.btn {
    background-color: rgb(209, 209, 209);
    font-size: 1rem;
    padding: 10px;
    margin: 0 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.publish {
    background-color: royalblue;
    color: white;
    font-size: 1rem;
    padding: 10px;
    margin: 0 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.btnContainer {
    margin-bottom: 20px;
}
